* {
	font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body {
  margin: 0;
  color: #ffffff;
  background-color: #1e1e1e;
}

h1 {
  font-size: 26px;
}

ul, p {
  line-height: 25px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  flex-direction: column;
  background-color: #1a0403;
}

.header {
  display: flex;
  margin: 40px 40px 10px 40px;
}

.section-header {
  position: relative;
}

.section-header:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 70%;
  height: 2px;
  background: #ffffff;
  opacity: 0.2;
}

.icon {font-size: 22px;}

.ava-photo {
  width: 210px;
  margin: 20px;
}

.contacts {
  margin: 20px 0 20px 40px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 40px 40px; 
}

.skills {
  background-color: #180201;
  border-right: 2px dotted #ffffff;
}

.about-myself {
  width: 100%;
  margin-left: 30px;	
}

.col-1 {
  width: 135px;
}
